// src/App.scss

$background-color: #f0f0f0;
$text-color: #fff;
$primary-color: #003366;
$primary-color-overlay: rgba(0, 0, 0, 0.307) 6;

.welcome-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-color: $primary-color-overlay;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.307) 6; // Dark overlay for better text contrast
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 10px;
  text-align: center;
  color: $text-color;
  padding: 20px 15px;
  border-radius: 10px;
  background: $primary-color; // Slightly lighter background for the content area
}
